name: Test python code - Build and Push image to GCR

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    -
      # Setup gcloud CLI
      name: 'auth to cgloud'
      uses: 'google-github-actions/auth@v0.4.1'
      with:
        credentials_json: ${{ env.GCLOUD_AUTH }}

    - 
      name: Build and publish image to GCR
      uses: carbonchain/action-container-registry@v1.1
      with:
        project_id: ${{ env.PROJECT_ID }}
        dockerfile: ./Dockerfile
        image: gcr.io/${{ secrets.PROJECT_ID }}/survivedtitanic
        service_account_key: ${{ env.GCLOUD_AUTH }}
